.yt a {
  margin: 8px 4px 0px 4px;
}

.btn-a {
  background-color: #c5cae9;
}

.btn-a:hover {
  background-color: #9fa8da;
}

.btn-b {
  background-color: #bbdefb;
}

.btn-b:hover {
  background-color: #90caf9;
}

.btn-c {
  background-color: #ffe0b2;
}

.btn-c:hover {
  background-color: #ffcc80;
}

.btn-d {
  background-color: #d7ccc8;
}

.btn-d:hover {
  background-color: #bcaaa4;
}

.btn-e{
  background-color: #b2dfdb;
}

.btn-e:hover{
  background-color: #80cbc4;
}

.btn-f{
  background-color: #dcedc8;
}

.btn-f:hover{
  background-color: #c5e1a5;
}