body {
  font-family: 'Source Sans Pro', sans-serif;

  /* WALLPAPER EDITION */
  background: url("../../background/white-2.jpg") !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #333333;
}

h2 {
  font-weight: 300;
  font-size: 24px;
  color: #333333;
}

a {
  font-style: normal;
  font-weight: 400 !important;
  font-size: 24px !important;
  color: #F9F9F9 !important;
}

hr {
  background-color: gray;
  border-radius: 12px;
  height: 1px;
}

.separator {
  color: #333333;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  /* border-bottom: 2px solid #000; */
}

.popup-noproject {
  width: 360px !important;
  border-radius: 12px;
  background: #E1E2E4 !important;
}

.btn-back {
  position: fixed;
  z-index: 100;
  left: 6%;
  top: 3%;

  border: 0px solid;
  border-radius: 100px;
  padding: 0px;

  background-color: transparent;
}

.banner-contoh {
  position: fixed;
  z-index: 100;
  top: 0%;
  right: 0%;
}